<p id="output"></p>

<div id="controls">


<%= link_to 'Start',
'/actual/url/in/case/javascript/is/broken',
:id => 'startPause', class: 'button'
%>

<%= link_to 'Reset',
'/actual/url/in/case/javascript/is/broken',
:id => 'reset', class: 'button'

%>
</div>
