<p id="output"></p>
<div id="controls">
  <!-- <button id="startPause" onclick="startPause()">Start</button> -->
  <button onclick="reset()">Reset</button>
</div>

<%= link_to 'Link with unobtrusive JavaScript',
'/actual/url/in/case/javascript/is/broken',
:id => 'my-link'
%>

<%= link_to 'startPause',
'/actual/url/in/case/javascript/is/broken',
:id => 'startPause2'
%>

<%= link_to 'reset',
'/actual/url/in/case/javascript/is/broken',
:id => 'reset2'
%>
